* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

h1 {
  color: #fff;
  font-size: 54px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
}
